<div class="jumbotron">
    <h1 style="color:blue;">Login de Usuario</h1>
    <br>
    <form action="#" onsubmit="return login(this)">
        <div class="form-group">
            <label for="userName"><b>Ingrese su nombre</b></label>
            <input id="userName" class="form-control" type="text" name="userName">
        </div>
        <input type="submit" class="btn btn-success mt-3 mb-5" value="Enviar">
    </form>
</div>
