<div>
    {{#each messages}}
        <strong style="color:blue">{{this.value.email}}</strong> 
        <strong style="color:blue">{{this.value.type}}</strong>
        <font style="color:brown">[{{timestampToLocaleString this.value.ts}}]</font>  
        <em style="color:green">{{this.value.text}}</em>
        <br>
    {{/each}} 
</div>