node_modules
package-lock.json
dist
**/*.sqlite
db
loggers-gzip-performance
nginx
options
scripts
sessions
**/*.log
errorForeverPM2.md
howto.md
prof_info.txt
prof_infoconsole.txt
prof-info.log
prof-infoconsole.log


