<div class="container mt-3">
    <div class="jumbotron">
        <h1 style="color:red;">{{msg}}</h1>
    </div>
</div>


<script>
    setTimeout((page) => {location.href = page}, 3000, '/')
</script>
