<div class="table-responsive">
    <table class="table table-dark">
        <tr style="color: yellow;">
            <th>Producto</th>
        </tr>
        
        {{#each products}}
        <tr>
            <td>
                {{this}}
            </td>
        </tr>
        {{/each}}
    </table>
</div>
